[requires]

python_full_version = "3.6.4"


[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
"psycopg2" = "*"
prettyconf = "*"
whitenoise = "*"
dj-database-url = "*"
djangorestframework = "*"
coreapi = "*"
gunicorn = "*"
django-filter = "*"


[dev-packages]

python-dotenv = "*"
